/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #FFf;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@font-face {
   font-family: 'JosefinSans-Regular';
   src: url(../fonts/JosefinSans-Regular.ttf)format('truetype');
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 60px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
}
/*-- //to-top --*/
/*-- Slider Part starts Here --*/
#slider3,#slider4  {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 49%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 62px;
	width: 45px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
a.callbacks_nav.callbacks1_nav.prev {
	background: transparent url("../images/1.png") no-repeat 0px 0px;
  left: 0%;
}
.callbacks_nav.next {
	background: transparent url("../images/2.png") no-repeat 0px 0px;
 right:0%;
}
#slider3-pager a,#slider4-pager a  {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span{
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a {
  padding: 0;
}
#slider3-pager li, #slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
}

.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 111%;
	z-index: 999;
	left: 56%;
	padding: 0;
	margin: 0;
}
ul.callbacks_tabs.callbacks2_tabs {
top: 73%;
left:46%;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
  margin-left: 5px;
	display: inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}

.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  width: 80px;
  height: 7px;
  display:inline-block;
  background: #fff;
}
.callbacks_here a:after{
	background: #F896A9;	
}
a.callbacks_nav.callbacks2_nav.prev {
background: transparent url("../images/1.png") no-repeat left top;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.next{
background: transparent url("../images/2.png") no-repeat -29px 0px;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.prev {
left: 86% !important;
top: 9%;
}
a.callbacks_nav.callbacks2_nav.next {
right: 0% !important;
top: 9%;
}
/*-- Slider part Ends Here --*/

/*-- banner --*/
.banner{
background: url(../images/12.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 800px;
}
.header{
margin-top:65px;
}
.logo{
float:left;
width:11%;
}
.navigation{
float:left;
width:64%;
text-align:center;
}
/*-- menu --*/
.navigation span{
	display:none;
	}
/*-- //menu --*/
.navigation ul{
margin: 7px 0 0 0;
padding:0;
}
.navigation ul li{
margin: 0 12px;
text-align: center;
display:inline-block;
list-style-type:none;
}
.navigation ul li a{
  padding-bottom: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: 'JosefinSans-Regular';
}
.navigation ul li a.active{
color:#E1009F;
}
.search{
float:right;
margin-top: 8px;
  border-bottom: 2px solid #E1009F;
}
.search input[type="search"] {
  border: none;
  outline: none;
  padding: 5px 0px 5px 10px;
  font-size: 14px;
  color: #C2c2c2;
  background: none;
}
.search form input[type="submit"]{
  background: url(../images/search.png) no-repeat 8px 9px;
  width: 31px;
  height: 33px;
  border: none;
  margin: 0 0 0 -4px;
  padding: 0;

}
.banner-info{
text-align:center;
margin-top:220px;
}
.banner-text h3{
color:#E1009F;
font-size:18px;
}
.banner-text h3 span{
color:#fff;
}
.banner-text h4{
font-family: 'JosefinSans-Regular';
color:#fff;
font-size:75px;
margin: 45px 0 56px 0;
}
/*-- //banner --*/
/*-- Takiri --*/
.logo a{
text-decoration:none;
}
.logo .link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}
/* Yaku */
.logo .link--yaku {
   font-family: 'JosefinSans-Regular';
	color: #E1009F;
	font-weight: 500;
	font-size: 30px;
	overflow: hidden;
	padding: 0 0 8px;
}

.logo .link--yaku::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-width: 2px 0;
	border-color: #E1009F;
	border-style: solid;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.logo .link--yaku:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.logo .link--yaku span {

	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
}

.logo .link--yaku:hover span {
	color: #E1009F;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.logo .link--yaku span:nth-child(4),
.logo .link--yaku:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.logo .link--yaku span:nth-child(3),
.logo .link--yaku:hover span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.logo .link--yaku span:nth-child(2),
.logo .link--yaku:hover span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.logo .link--yaku span:first-child,
.logo .link--yaku:hover span:nth-child(4) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
/*-- //Takiri --*/
/* Overline From Center */
a.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
a.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #E1009F;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-overline-from-center:hover:before,a.hvr-overline-from-center:focus:before,a.hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Overline From Center */
.read-more a {
font-size:18px;
text-decoration:none;
  padding: 7px 23px;
}
/* Shutter In Horizontal */
a.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #E1009F;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff;
}
a.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#000;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-shutter-in-horizontal:hover,a.hvr-shutter-in-horizontal:focus,a.hvr-shutter-in-horizontal:active {
  color: white;
}
a.hvr-shutter-in-horizontal:hover:before,a.hvr-shutter-in-horizontal:focus:before,a.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
/* Shutter In Horizontal */
/*-- banner-bottom --*/
h3.tittle-one:after, h3.tittle-one:before{
  border: 1px dotted #c2c2c2;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin: 0 2%;
}
.banner-bottom,.feature,.tips,.about,.staff,.typrography,.contact,.treatments{
padding:80px 0;
}
h3.tittle-one{
text-align:center;
font-family: 'JosefinSans-Regular';
color:#E1009F;
font-size:50px;
margin-bottom:50px;
}
.banner-bottom p{
color:#464646;
font-size:14px;
text-align:center;
line-height:2em;
}
.bottom-grid img{
width:100%;
}
.grid-one h4{
font-family: 'JosefinSans-Regular';
font-size:30px;
text-align:center;
color:#fff;
}
.grid-one p{
font-size:14px;
color:#AAAAAA;
line-height:2em;
margin-top: 30px;
}
.grid-one {
  background: #464646;
  padding: 65px 30px 0 30px;
}
.bottom-grid img,.grid-one{
min-height:383px;
}
.bottom-grids {
  margin-top: 45px;
}
/*-- //banner-bottom --*/
/*-- keep --*/
.keep{
  background: url(../images/banner5.jpg) fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 340px;
  padding-top:80px;
}
.keep p{
text-align:center;
font-size:16px;
line-height:2em;
color:#fff;
}
/*-- //keep --*/
/*-- feature-grids --*/
.feature-grid-one{
padding:30px 20px;
background: #E1009F;
}
.feature-grid-two{
padding:30px 20px;
background: #464646;
}
.feature-grid h4{
color:#fff;
font-family: 'JosefinSans-Regular';
font-size: 30px;
text-align: center;
margin: 14px 0;
}
.feature-grid p{
color:#fff;
font-size:14px;
line-height:2em;
}
.feature-grid a{
text-decoration:none;
}
.hi-icon {
	display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    border: 3px solid #fff;
    line-height: 4.5em;
}
.hi-icon:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}
.hi-icon:before {
	font-size: 25px;
	display: block;
}
/* Effect 8 */
.feature-grid .hi-icon {
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}
.feature-grid .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
.feature-grid .hi-icon:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color:#000;
	  text-decoration: none;
}
.feature-grid .hi-icon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
/*-- //feature-grids --*/
/*-- tips --*/
.tip-grid img{
width:100%;
}
.tip-grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.tips {
  background: #464646;
}
/* Common style */
.tip-grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.tip-grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.tip-grid figure figcaption {
    padding: 25px 25px 0px 25px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tip-grid figure figcaption,
.tip-grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tip-grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.tip-grid figure h4 {
	word-spacing: -0.15em;
	font-weight: 300;
}


.tip-grid figure h4,
.grid figure p {
	margin: 0;
}

.tip-grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/***** Julia *****/

figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	max-width: none;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h4 {
  font-family: 'JosefinSans-Regular';
  color: #E1009F;
  font-size: 30px;
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
  display: block;
  margin: 17px 0 0 0;
  padding: 6px 14px;
  background: #fff;
  color: #464646;
  text-transform: none;
  font-size: 14px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-500px,0,0);
  transform: translate3d(-500px,0,0);
}
figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //tips --*/
/*-- footer --*/
.footer {
  background: #f2f2f2;
  padding: 50px 0;
}
.ftr_navi h3 {
  font-size: 30px;
  font-family: 'JosefinSans-Regular';
  color: #E1009F;
  margin-bottom: 30px;
}
.ftr_navi ul li {
  line-height: 2em;
  font-size: 14px;
  list-style-type: none;
}
.ftr_navi ul li a{
text-decoration:none;
color:#464646;
}
.ftr_navi ul li a:hover{
  color: #E1009F;
}
.ftr_navi p{
color:#464646;
line-height:2em;
font-size:14px;
}
.ftr_navi h2{
  color: #E1009F;
  font-size: 18px;
  margin-bottom: 8px;
}
.ftr_navi a{
color:#464646;
font-size:14px;
text-decoration:none;
}
.ftr_navi a:hover{
color: #E1009F;
}
.ftr_navi h4 a{
font-family: 'JosefinSans-Regular';
color: #E1009F;
font-size:45px;
}
.ftr_navi input[type="text"] {
  background: none;
  border: 1px solid #E1009F;
  width: 81%;
  outline: none;
  padding: 8px 14px 7px 14px;
  font-size: 14px;
  color: #BEBEBE;
}
.ftr_navi form input[type="submit"]{
  width: 46px;
  height: 37px;
  z-index: 9999;
  position: absolute;
  margin: 0 0 0 0px;
  left: -11px;
  top: -6px;
  padding: 0;
  border: 1px solid #E1009F;
  border-left: none;
  background: none;
  }
.ftr_navi .glyphicon {
  font-size: 24px;
  position: relative;
  top: 6px;
  right: -7px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
/*-- //footer --*/
/*-- copy right --*/
.copy-right{
background: #E1009F;
padding:15px 0;
text-align:center;
}
.copy-right p{
font-size:14px;
color:#fff;
line-height:1.8em;
}
.copy-right p a{
text-decoration:none;
color:#fff;
}
.copy-right p a:hover{
color:#464646;
}
/*-- //copy right --*/
/*-- about --*/
.page-head {
  min-height: 178px !important;
}
/*--about-starts--*/
/*-- effect- bubba --*/
.l-grids figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.l-grids figure img {
	position: relative;
	display: block;
}
.l-grids img{
  opacity: .78;
  width: 100%;
}
.l-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.l-grids figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-bubba:hover img {
	opacity: 0.7;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h4 {
	padding-top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:1;
	padding-bottom: 0;
}

figure.effect-bubba p {
	padding: 0px 1em;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //effect- bubba --*/
.about-top {
	text-align: center;
}
.about-bottom img {
	width: 100%;
}
.about-bottom {
  width: 57%;
  margin: 0 auto;
}
.about-bottom h4 {
  margin: 0 0 15px 0;
  color: #E1009F;
  font-size: 40px;
  font-family: 'JosefinSans-Regular';
}
.about p {
  font-size: 14px;
  line-height: 2em;
  text-align: center;
  color: #464646;
}
.about h5 {
  line-height: 1.3em;
  text-align: center;
  font-family: 'JosefinSans-Regular';
  color: #E1009F;
  font-size: 28px;
  margin: 18px 0;
}
/*--staff--*/
.staff{
background:#464646;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
  width: 162px;
  height: 162px;
	border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
	
}
.ch-info {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.ch-info .ch-info-front {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	
	z-index: 100;
	box-shadow: 
		inset 2px 1px 4px rgba(0,0,0,0.1);
}
.ch-info .ch-info-back {
	background: rgba(230,132,107,0);
}
.ch-img-1 { 
	background-image: url(../images/aaa.jpg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}
.ch-img-2 { 
	background-image: url(../images/bbb.jpg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}
.ch-img-3 { 
	background-image: url(../images/ccc.jpg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}
.ch-img-4{ 
	background-image: url(../images/ddd.jpg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}
.ch-info h4{
  font-family: 'JosefinSans-Regular';
	color: #E1009F;
  font-size: 28px;
  font-weight: 600;
  margin: 0 18px;
	padding: 40px 0 0 0;
}
.ch-info p {
	color: #fff;
	line-height:1.8em;
	padding: 10px 5px;
	font-style: italic;
	font-size: 13px;
}
.ch-item:hover .ch-info-front {
	-webkit-transform: rotate3d(1,0,0,-180deg);
	-moz-transform: rotate3d(1,0,0,-180deg);
	-o-transform: rotate3d(1,0,0,-180deg);
	-ms-transform: rotate3d(1,0,0,-180deg);
	transform: rotate3d(1,0,0,-180deg);
	
	box-shadow: 
		inset 0 0 5px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(0,0,0,0.3);
}
.ch-item:hover .ch-info-back {
	background: #464646;
}
/*--common css--*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 0 20px;
}
/*--about-end--*/
/*--trypography--*/
.grid_4{
	background:#fff;
	padding:0em 0em 0em 0em;
}  
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.8em;
  color: #999;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#5bb2fc !important;
  border-color:#5bb2fc !important;
}
.grid_3 p,.page-header p {
  color: #888;
  font-size: 14px;
  line-height:2em;
  margin-bottom: 1em;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li{
	font-size:0.85em;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
h3.bars {
  margin-bottom: 0.8em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
ol {
  margin-bottom: 44px;
}
.list-group {
  margin-bottom: 48px;
}
.input-group {
  margin-bottom: 20px;
}
/*--//trypography--*/
/*--contact--*/

.map iframe {
border:none;
  width: 100%;
  height: 360px;
}
.contact-grids {
  margin: 50px 0;
}
.contact-grids h4{
  font-size: 20px;
  margin: 0 0 20px 0;
  color:#40c8f4;
  text-align: center;
	}

.contact-form{
	  margin: 50px 0 0 0;
	}
.contact-form input[type="text"],.contact-form textarea{
  outline: none;
  padding: 10px 10px;
  border: 1px solid #464646;
  background: none;
  font-size: 14px;
  float: left;
  width: 32%;
  color: #000;
	}
.contact-form input[type="text"]:nth-child(2){
	  margin: 0 22px;
	}
.contact-form textarea{
	float:none;
	width:100%;
	margin: 22px 0;
	resize:none;
	height:250px;
	}
.contact-form input[type="submit"]{
  outline: none;
  background:#000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  color: #fff;
  font-weight: 600;
  padding: 9px 53px;
  font-size: 20px;
  border: none;
	}
.contact-form input[type="submit"]:hover{
	background:#E1009F;
	}
/*-- //contact --*/
/*-- gallery-page --*/
.view {
  width: 31.5%;
  height: 100%;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
}
.view .mask,.view .content {
  width: 100%;
  height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view-seventh img {
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   opacity: 1;
}
.view-seventh .mask {
   background-color:#464646;
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   opacity: 0;
   -webkit-transition: all 0.9s ease-out;
   -moz-transition: all 0.9s ease-out;
   -o-transition: all 0.9s ease-out;
   -ms-transition: all 0.9s ease-out;
   transition: all 0.9s ease-out;
}
.view-seventh h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
   -webkit-transform: rotate(720deg) scale(0);
   -moz-transform: rotate(720deg) scale(0);
   -o-transform: rotate(720deg) scale(0);
   -ms-transform: rotate(720deg) scale(0);
   transform: rotate(720deg) scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   opacity: 0;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}
.view-seventh:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.view h4 {
  color: #e6e6e6;
  font-family: 'JosefinSans-Regular';
  text-align: center;
  position: relative;
  font-size: 30px;
  padding: 10px;
  background:#E1009F;
  margin: 45px 0 25px 0;
}
.view p {
  font-style: italic; 
  font-size: 14px;
  line-height: 2em;
  position: relative;
  color: #fff;
  padding: 0px 20px 20px;
  text-align: center;
}
.view.view-seventh img {
  width: 100%;
}
/*-- //gallery-page --*/
/*-- responsive media queries --*/
@media (max-width: 1080px){
	.navigation ul li a {
	  font-size: 22px;
	  }
	.logo {
	  width: 14%;
	}
	.navigation {
	  width: 62%;
	  }
	.navigation ul {
	  margin: 8px 0 0 0;
	  }
	.banner-info {
	  margin-top: 110px;
	}
	.banner-text h4 {
	  font-size: 60px;
	  margin: 36px 0 58px 0;
	}
	.read-more a {
	  font-size: 15px;
	  padding: 6px 13px;
	}
	.banner {
	  min-height: 535px;
	}
	.logo .link--yaku {
	  font-size: 40px;
	  }
	.banner-bottom, .feature, .tips, .about, .staff, .typrography, .contact, .treatments {
	  padding: 65px 0;
	}
	.bottom-grid img, .grid-one {
	  min-height: 308px;
	}
	h3.tittle-one{
	  margin-bottom: 35px;
	  font-size: 44px;
	  }
	.banner-bottom p {
	  font-size: 13px;
	  }
	.grid-one h4 {
	  font-size: 28px;
	  }
	.grid-one p {
	  font-size: 13px;
	  }
	.grid-one {
	  padding: 42px 11px 0 11px;
	}
	h3.tittle-one:after, h3.tittle-one:before {
	  width: 78px;
	  }
	.keep {
	  min-height: 295px;
	  padding-top: 65px;
	}
	.keep p {
	  font-size: 15px;
	  }
	.feature-grid{
	  padding: 0 10px;
	}
	.feature-grid p {
	  font-size: 13px;
	  }
	.feature-grid h4 {
	  font-size: 26px;
	  }
	figure.effect-julia h4 {
	  font-size: 28px;
	  }
	.tip-grid figure figcaption {
	  padding: 14px 25px 0px 25px;
	  }
	figure.effect-julia p {
	  margin: 14px 0 0 0;
	  padding: 5px 14px;
	  font-size: 13px;
	  }
	.ftr_navi h3 {
	  font-size: 28px;
	  }
	.ftr_navi a {
	  font-size: 13px;
	  }
	.ftr_navi p {
	  font-size: 13px;
	}
	.ftr_navi input[type="text"] {
	  padding: 9px 14px 8px 14px;
	  font-size: 13px;
	}
	.copy-right p {
	  font-size: 13px;
	  }
	.header {
	  margin-top: 50px;
	}
	.page-head {
	  min-height: 152px !important;
	}
	figure.effect-bubba h4 {
	  padding-top: 6%;
	  }
	.about-bottom h4 {
	  font-size: 35px;
	  }
	.about p {
	  font-size: 13px;
	  }
	.about h5 {
	  font-size: 26px;
	  }
	.ch-grid li {
	  margin: 0 15px;
	}
	.ch-info h4 {
	  font-size: 26px;
	}
	.view {
	  width: 31.1%;
	  }
	.view p {
	  font-size: 13px;
	  }
	.view h4 {
	  font-size: 28px;
	  padding: 6px;
	  margin: 22px 0 13px 0;
	}
	.map iframe {
	  height: 320px;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  font-size: 13px;
	  }
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 0 18px;
	}
	.contact-form textarea {
	  height: 185px;
	}
	.contact-form input[type="submit"] {
	  padding: 7px 32px;
	  font-size: 18px;
	  }
	.contact-form {
	  margin: 35px 0 0 0;
	}
}
@media (max-width: 1024px){
	figure.effect-bubba h4 {
	  padding-top: 7%;
	}
	.about-bottom h4 {
	  font-size: 30px;
	}
	h3.tittle-one {
	  font-size: 40px;
	}
}
@media (max-width: 991px){
	.logo {
	  width: 16%;
	}
	.logo .link--yaku {
	  font-size: 34px;
	}
	.navigation ul li {
	  margin: 0 10px;
	  }
	.navigation {
	  width: 63%;
	}
	.search {
	  width: 20%;
	}
	.navigation ul li a {
	  font-size: 19px;
	}
	.search input[type="search"] {
	  padding: 6px 0px 6px 10px;
	  font-size: 13px;
	  width: 74%;
	}
	.search {
	  margin-top: 5px;
	  }
	.banner-text h3 {
	  font-size: 16px;
	}
	.banner-text h4 {
	  font-size: 47px;
	  margin: 30px 0 49px 0;
	}
	.banner-info {
	  margin-top: 95px;
	}
	.banner {
	  min-height: 495px;
	}
	.banner-bottom, .feature, .tips, .about, .staff, .typrography, .contact, .treatments {
	  padding: 60px 0;
	}
	h3.tittle-one {
	  margin-bottom: 30px;
	  font-size: 38px;
	}
	.bottom-grid {
	  float: left;
	  width: 25%;
	}
	.bottom-grid img, .grid-one {
	  min-height: 238px;
	}
	.grid-one {
	  padding: 14px 8px 0 8px;
	}
	.grid-one h4 {
	  font-size: 20px;
	}
	.grid-one p {
	  line-height: 1.8em;
	  margin-top: 9px;
	}
	.callbacks_nav {
	  top: 36%;
	  }
	h3.tittle-one:after, h3.tittle-one:before {
	  width: 50px;
	}
	.keep p {
	  font-size: 13px;
	}
	.keep {
	  min-height: 278px;
	  padding-top: 60px;
	}
	.feature-grid{
	  float: left;
	  width: 25%;
	}
	.feature-grid {
	  padding: 0 5px;
	}
	.hi-icon {
	  width: 65px;
	  height: 65px;
	  line-height: 3.8em;
	}
	.feature-grid-two ,.feature-grid-one{
	  padding: 17px 8px;
	  }
	.feature-grid h4 {
	  font-size: 22px;
	}
	.feature-grid p {
	  line-height: 1.8em;
	}
	.feature-grid h4 {
	  margin: 12px 0;
	}
	.tip-grid {
	  float: left;
	  width: 33.33333%;
	  padding: 0 5px;
	}
	figure.effect-julia h4 {
	  font-size: 22px;
	}
	.tip-grid figure figcaption {
	  padding: 9px 18px 0px 18px;
	}
	figure.effect-julia p {
	  margin: 10px 0 0 0;
	  padding: 4px 6px;
	}
	.ftr_navi.ftr {
	  float: left;
	  width: 25%;
	  padding: 0 5px;
	}
	.ftr_navi h3 {
	  margin-bottom: 25px;
	}
	.ftr_navi input[type="text"] {
	  padding: 9px 7px 8px 7px;
	  }
	.copy-right {
	  padding: 12px 0;
	  }
	.ftr_navi h3 {
	  font-size: 26px;
	}
	.l-grids figure figcaption {
	  padding: 1em;
	  }
	.about-bottom h4 {
	  margin: 0 0 10px 0;
	}
	figure.effect-bubba h4 {
	  padding-top: 6%;
	}
	.about h5 {
	  font-size: 24px;
	}
	.ch-grid li:nth-child(4) {
	  margin-top: 25px;
	}
	.view {
	  margin: 7px;
	  border: 5px solid #fff;
	  }
	.view h4 {
	  font-size: 24px;
	  padding: 4px;
	  margin: 12px 0 9px 0;
	}
	.view p {
	  line-height: 1.8em;
	  padding: 0px 3px 0px;
	  }
	.map iframe {
	  height: 280px;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  padding: 9px 9px;
	  }
	.contact-form input[type="text"]{
	  width: 31.6%;
	}
	.contact-form textarea {
	  height: 165px;
	}
	.contact-form input[type="submit"] {
	  padding: 6px 24px;
	  font-size: 16px;
	}  

}
@media (max-width: 800px){
	.ftr_navi input[type="text"] {
	  width: 73%;
	  }
}
@media (max-width: 768px){
	.tip-grid figure figcaption {
	  padding: 9px 15px 0px 15px;
	}
}
@media (max-width: 736px){
	span.menu {
		display: block;
		cursor: pointer;
		position: relative;
		text-align: center;
	}
	ul.nav1{
		display:none;
		background:#464646;
		}
	.navigation ul.nav1 li {
		display: inline-block;
		text-align: center;
	    margin: 9px 0;
		width: 100%;
		padding: 0px 0;
		}
	.navigation ul {
	  position: absolute;
	  padding: 0;
	  margin: 0;
	  top: 102px;
	  left: 0;
	  width: 100%;
	  z-index: 9999;
	  width: 100%;
	}
	.logo {
	  width: 18%;
	}
	.search {
	  margin-top: 0px;
	}
	.navigation {
	  width: 37%;
	  margin-left: 92px;
	}
	.search {
	  width: 26%;
	}
	.tip-grid figure figcaption {
	  padding: 9px 9px 0px 9px;
	}
	.grid-one p {
	  font-size: 12px;
	}
	h3.tittle-one {
	  font-size: 34px;
	}

}
@media (max-width: 667px){
	.bottom-grid {
	  float: left;
	  width: 50%;
	}
	.bottom-grid img, .grid-one {
	  min-height: 422px;
	}
	.bottom-grid:nth-child(3), .bottom-grid:nth-child(4) {
	  margin-top: 18px;
	}
}
@media (max-width: 640px){
	.banner-text h4 {
	  font-size: 36px;
	  margin: 30px 0 40px 0;
	}
	.navigation {
	  margin-left: 79px;
	}
	.banner-info {
	  margin-top: 60px;
	}
	.banner {
	  min-height: 385px;
	}
	.read-more a {
	  font-size: 13px;
	  padding: 5px 10px;
	}
	.banner-bottom, .feature, .tips, .about, .staff, .typrography, .contact, .treatments {
	  padding: 50px 0;
	}
	.bottom-grid img, .grid-one {
	  min-height: 424px;
	}
	.grid-one p {
	  margin-top: 28px;
	  font-size: 13px;
	  line-height:2em;
	}
	.bottom-grid {
	  padding-left: 0;
	}
	.grid-one {
	  padding: 14px 25px 0 25px;
	}
	.grid-one h4 {
	  font-size: 26px;
	}
	.grid-one {
	  padding: 60px 25px 0 25px;
	}
	h3.tittle-one {
	  margin-bottom: 20px;
	  font-size: 30px;
	}
	.keep {
	  min-height: 240px;
	  padding-top: 50px;
	}
	.feature-grid {
	  float: left;
	  width: 50%;
	}
	.feature-grid:nth-child(3), .feature-grid:nth-child(4) {
	  margin-top: 20px;
	}
	.feature-grid {
	  padding: 0 10px;
	}
	.tip-grid figure figcaption {
	  padding: 9px 5px 0px 5px;
	}
	figure.effect-julia p {
	  font-size: 12px;
	  padding: 4px 4px;
	}
	figure.effect-julia h4 {
	  padding: 0em 0 0 0;
	}
	.ftr_navi h3 {
	  font-size: 23px;
	}
	.ftr_navi h2 {
	  font-size: 15px;
	  }
	.ftr_navi.ftr {
	  float: left;
	  width: 50%;
	  }
	.ftr_navi.ftr:nth-child(3),.ftr_navi.ftr:nth-child(4){
	margin-top:30px;
	}
	.about-bottom {
	  width: 73%;
	  }
	.ch-grid li:nth-child(4), .ch-grid li:nth-child(3) {
	  margin-top: 25px;
	}
	.view {
	  width: 47.1%;
	  margin: 8px;
	  }
	.view h4 {
	  padding: 7px;
	  margin: 34px 0 22px 0;
	}
	.map iframe {
	  height: 230px;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 0 15px;
	}
	.contact-form textarea {
	  height: 138px;
	}
	.contact-form textarea {
	  margin: 19px 0 15px 0;
	  }
	.page-head {
	  min-height: 138px !important;
	}

}
@media (max-width: 568px){
	.logo .link--yaku {
	  font-size: 30px;
	}
}
@media (max-width: 480px){
	.logo {
	  width: 23%;
	}
	.logo .link--yaku {
	  font-size: 32px;
	}
	.navigation {
	  margin-left: 37px;
	}
	.search {
	  width: 30%;
	}
	.header {
	  margin-top: 38px;
	}
	.navigation {
	  margin-top: 3px;
	}
	.navigation ul {
	  top: 94px;
	  }
	.page-head {
	  min-height: 120px !important;
	}
	.contact-form input[type="text"] {
	  width: 100%;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 18px 0px;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  padding: 7px 9px;
	}
	.callbacks_nav {
	  height: 28px;
	  width: 26px;
	}
	.callbacks_nav {
	  top: 45%;
	}
	.callbacks_nav.next {
	  right: -3%;
	  background-size: 100% !important;
	}
	a.callbacks_nav.callbacks1_nav.prev {
	  left: -3%;
	  background-size: 100% !important;
	}
	.banner-text h3 {
	  font-size: 14px;
	}
	.banner-info {
	  margin-top: 40px;
	}
	.banner-text h4 {
	  font-size: 30px;
	  }
	.banner {
	  min-height: 320px;
	}
	.bottom-grid img, .grid-one {
	  min-height: 303px;
	}
	.grid-one h4 {
	  font-size: 24px;
	}
	.grid-one {
	  padding: 44px 17px 0 17px;
	}
	.grid-one p {
	  margin-top: 18px;
	  }
	h3.tittle-one:after, h3.tittle-one:before {
	  width: 20px;
	}
	.keep h3 {
	  font-size: 23px;
	}
	.bottom-grids {
	  margin-top: 30px;
	}
	.tip-grid figure figcaption {
	  padding: 15px 9px 0px 9px;
	}
	.tip-grid {
	  width: 50%;
	  }
	.tip-grid:nth-child(3) {
	  margin-top: 15px;
	}
	.tip-grid {
	  padding: 0 7px;
	}
	.about-bottom {
	  width: 100%;
	}
	.about-bottom h4 {
	  font-size: 25px;
	}
	.about h5 {
	  font-size: 22px;
	}
	.ch-grid li:nth-child(4), .ch-grid li:nth-child(3),.ch-grid li:nth-child(2) {
	  margin-top: 25px;
	}
	.view h4 {
	  padding: 3px;
	  margin: 6px 0 7px 0;
	}
	.view h4 {
	  font-size: 20px;
	  }
	.view {
	  width: 48.1%;
	  margin: 4px;
	}
	.view p {
	  line-height: 1.6em;
	  }
	.contact-form {
	  margin: 25px 0 0 0;
	}

}
@media (max-width: 414px){
	.logo .link--yaku {
	  font-size: 31px;
	}
	.logo {
	  width: 27%;
	}
	.navigation {
	  margin-left: 38px;
	  width: 23%;
	  }
	.search {
	  width: 37%;
	}
	.navigation ul.nav1 li {
	  margin: 8px 0;
	  }
	.banner-text h4 {
	  font-size: 25px;
	}
	.navigation ul {
	  top: 86px;
	}
	.banner-info {
	  margin-top: 29px;
	}
	.banner-text h4 {
	  margin: 24px 0 31px 0;
	}
	.banner {
	  min-height: 280px;
	}
	.bottom-grid img, .grid-one {
	  min-height: 256px;
	}
	.grid-one h4 {
	  font-size: 21px;
	}
	.grid-one p {
	  line-height: 1.8em;
	  margin-top: 13px;
	}
	.grid-one {
	  padding: 9px 10px 0 10px;
	}
	.banner-bottom, .feature, .tips, .about, .staff, .typrography, .contact, .treatments {
	  padding: 45px 0;
	}
	h3.tittle-one:after, h3.tittle-one:before {
	  width: 15px;
	}
	.keep h3 {
	  font-size: 20px;
	}
	.keep {
	  min-height: 265px;
	  }
	.feature-grid {
	  padding: 0 6px;
	}
	.tip-grid {
	  width: 100%;
	}
	.tip-grid {
	  padding: 0;
	}
	.tip-grid figure {
	  float: none;
	  }
	.tip-grid figure figcaption {
	  padding: 36px 23px 0px 23px;
	}
	figure.effect-julia h4 {
	  font-size: 25px;
	}
	figure.effect-julia p {
	  margin: 25px 0 0 0;
	  font-size: 13px;
	  padding: 9px 10px;
	}
	.view {
	  width: 100%;
	  margin: 0;
	}
	.view p {
	  padding: 0px 31px 0px;
	  line-height: 1.8em;
	  font-size: 13px;
	}
	.view h4 {
	  padding: 7px;
	  margin: 53px 0 33px 0;
	  font-size: 24px;
	}
	.map iframe {
	  height: 210px;
	}
	.view:nth-child(5), .view:nth-child(6), .view:nth-child(7), .view:nth-child(8), .view:nth-child(9), .view:nth-child(10), .view:nth-child(11), .view:nth-child(12) {
	  margin: 24px 0 0 00 !important;
	}
	.about-bottom h4 {
	  margin: 0 0 4px 0;
	}
}
@media (max-width: 375px){
	.feature-grid h4 {
	  font-size: 19px;
	}
	.grid-one p {
	  margin-top: 9px;
	}
	.grid-one h4 {
	  font-size: 19px;
	}
	.logo .link--yaku {
	  font-size: 29px;
	}
}
@media (max-width: 320px){
	.logo .link--yaku {
	  font-size: 28px;
	}
	.logo {
	  width: 32%;
	}
	.navigation {
	  margin-left: 21px;
	  width: 19%;
	}
	.search {
	  width: 39%;
	}
	.search input[type="search"] {
	  width: 70%;
	}
	.navigation ul.nav1 li {
	  margin: 6px 0;
	}
	h3.tittle-one {
	  font-size: 30px;
	}
	.banner-bottom h3 {
	  font-size: 24px;
	}
	h3.tittle-one {
	  margin-bottom: 15px;
	  }
	.bottom-grid {
	  width: 100%;
	  padding: 0;
	}
	.bottom-grid img, .grid-one {
	  min-height: 192px;
	}
	.grid-one h4 {
	  font-size: 23px;
	}
	.bottom-grid:nth-child(3), .bottom-grid:nth-child(4), .bottom-grid:nth-child(2) {
	  margin-top: 18px;
	}
	.keep {
	  padding-top: 45px;
	}
	.about h3,.treatments h3 {
	  font-size: 33px;
	}
	.feature-grid h4 {
	  font-size: 21px;
	}
	.keep h3 {
	  font-size: 25px;
	}
	.keep {
	  min-height: 336px;
	}
	.feature-grid {
	  float: left;
	  width: 100%;
	  padding:0;
	}
	.feature-grid:nth-child(3), .feature-grid:nth-child(4) ,.feature-grid:nth-child(2){
	  margin-top: 20px;
	}
	.tip-grid figure figcaption {
	  padding: 15px 23px 0px 23px;
	}
	figure.effect-julia h4 {
	  font-size: 22px;
	}
	figure.effect-julia p {
	  margin: 21px 0 0 0;
	  font-size: 13px;
	  padding: 7px 10px;
	}
	.ftr_navi.ftr {
	  float: left;
	  width: 100%;
	}
	.banner-text h4 {
	  font-size: 20px;
	}
	a.callbacks_nav.callbacks1_nav.prev {
	  left: -5%;
	  }
	.callbacks_nav.next {
	  right: -5%;
	  }
	.callbacks_nav {
	  height: 28px;
	  width: 16px;
	}
	.read-more a {
	  padding: 4px 6px;
	}
	.banner-text h4 {
	  margin: 19px 0 22px 0;
	}
	.banner {
	  min-height: 257px;
	}
	.grid-one {
	  padding: 19px 10px 0 10px !important;
	}
	.ftr_navi h3 {
	  margin-bottom: 11px;
	}
	.ftr_navi.ftr:nth-child(3), .ftr_navi.ftr:nth-child(4), .ftr_navi.ftr:nth-child(2) {
	  margin-top: 30px;
	}
	figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
	  top: 13px;
	  right: 13px;
	  bottom: 13px;
	  left: 13px;
	  }
	figure.effect-bubba h4 {
	  -webkit-transform: translate3d(0,22px,0);
	  transform: translate3d(0,22px,0);
	  }
	.about p {
	  line-height: 1.8em;
	  }
	figure.effect-bubba p {
	  padding: 0px 0.9em;
	  }
	figure.effect-bubba h4 {
	  padding-top: 3%;
	}
	figure.effect-bubba p {
	  font-size: 12px;
	}
	.l-grids figure figcaption {
	  padding: 0.2em;
	}
	.about h5 {
	  font-size: 20px;
	}
	.page-head {
	  min-height: 112px !important;
	}
	.view h4 {
	  padding: 7px;
	  margin: 25px 0 17px 0;
	  font-size: 20px;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	  padding: 10px !important;
	}
	.map iframe {
	  height: 165px;
	}
	.contact-form textarea {
	  height: 120px;
	}
	.contact-form input[type="submit"] {
	  padding: 4px 16px;
	  font-size: 14px;
	}
	.copy-right {
	  padding: 6px 0;
	}
}
/*-- //responsive media queries --*/